<suite name="Suite">

  <listeners>
    <listener class-name="listeners.TestListener" />
  </listeners>

  <test name="Opencart Tests" thread-count="1">

    <parameter name="browser" value="chrome"/>

    <classes>
      <class name="tests.RegistrationTest" />
      <class name="tests.LoginTest" />
      <class name="tests.SearchProductTest" />
      <class name="tests.AddToCartTest" />
      <class name="tests.WishListTest" />
      <class name="tests.ShoppingCartTest" />
    </classes>

  </test>

</suite>